@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    --primary-color: #90041c;
    --secondary-color: #f44336;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}



.top-bar {
    position: fixed;
    height: 4vh;
    width: 100vw;
    box-shadow: rgb(17 12 46 / 10%) 0px 24px 30px 0px;
    z-index: 10;
    background-color: white;
}
.top-bar-spacer {
    height: 3vh;
}
.top-bar p{
    margin-top: 0.5vh;
    margin-left: 3vh;
    margin-bottom: 0.1vh;
}