@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    --primary-color: #90041c;
    --secondary-color: #f44336;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Poppins";
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}


.fixed-spacer {
    height: 6vh;
}
.content {
    margin: 10px;
    width: calc(100%);
    left: 14vh;
    position: absolute;
}
.content h1,h2{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-left: 20px;
}
.content p{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-left: 30px;
}
.button-container {
    margin-top: 20px;
    margin-left: 30px;
}
.content button{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-right: 0.3em;
    background: var(--secondary-color);
    border: 0;
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 2em;
}
.divider-bar {
    width: 100%;
    height: 1px;
    margin: 20px;
    background-color: black;
}

.top-bar {
    position: fixed;
    height: 4vh;
    width: 100vw;
    z-index: 10;
    background-color: white;
    box-shadow: rgb(17 12 46 / 40%) 0px 5px 10px 0px;
}
.top-bar-spacer {
    height: 3vh;
}
.top-bar p{
    margin-top: 0.7vh;
    margin-left: 3vh;
    margin-bottom: 0.1vh;
}

.sidebar {
    padding-top: 2vh;
    position: fixed;
    width: 14vh;
    height: 100vh;
    background-color: var(--whitesmoke);
    box-shadow: inset rgb(17 12 46 / 40%) 0px 5px 10px 0px;
    z-index: 6;

    display: flex;
    flex-direction: column;
}
.sidebar-item {
    height: fit-content;
    background-color: var(--primary-color);
    box-shadow: rgb(17 12 46 / 40%) 0px 5px 10px 0px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.sidebar-item img{
    width: 4vh;
    filter: invert(1);
    user-select: none;
}
.sidebar-item p{
    margin-top: 5px;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
    font-size: 13px;
}


.menu-userbox {
    position: fixed;
    top: 4vh;
    left: calc(100% - 7vh - 0.8em);
    width: 7vh;
    height: 7vh;
    z-index: 9;
    background-color: #5e0717;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgb(17 12 46 / 40%) 0px 5px 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bar img{
    height: 70%;
    filter: invert(1);
    user-select: none;
}

.menu-bar {
    position: fixed;
    top: 4vh;
    height: 6vh;
    width: 100vw;
    z-index: 8;
    background-color: var(--primary-color);
    box-shadow: rgb(17 12 46 / 40%) 0px 5px 10px 0px;
    border-radius: 0px 0px 10px 10px;
}
.menu-bar-container {
    padding: 0.5em;
    display: flex;
    height: calc(100% - 1em);
}
.menu-bar-item {
    margin: 0;
    align-items: center;
    display: flex;
    height: 100%;
    color: white;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-right: 1em;
    line-height: 100%;
    text-align: center;
}
.menu-bar-text p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: fit-content;
}
.menu-bar-text {
    padding: 5px;
}
#selected-menu-bar {
    background-color: #c3261b;
    border-radius:10px
}