.header-wrapper {
    margin: 3em;
    text-align: center;
}

.profile-pic {
    width: 375px;
    border-radius: 10px;
}
.profile-pic.left {
    float: left;
    margin: 10px 20px 0px 0px;
}
.profile-pic.right {
    float: right;
    margin: 10px 0px 0px 20px;
}

.member-group {
    margin: 3em 1em;
    padding: 2em 3em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    box-shadow: rgb(17 12 46 / 30%) 0px 24px 30px 0px;
}

.image-quote-group {
    overflow: auto;
    margin: 0px 0px 1em 0px;
    font-size: 20;
}

p.left {
    text-align: left;
}
p.right {
    text-align: right;
}