body {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    font-family: "Poppins";
}

.margin-wrapper {
    text-align: center;
    margin: 3em 1em;
}

.features-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features-box img{
    filter: invert(1);
    user-select: none;
}

.features-box-content {
    background-color: #d63909;
    padding: 20px;
    flex-grow: 1;
    width: 33%;
    min-width: 300px;
    margin: 20px;
    border-radius: 20px;

    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 400px) {
    .features-box-content {
        min-width: revert;
    }
}

.features-box-content.rot0 {
    transform: rotate(1deg)
}
.features-box-content.rot1 {
    transform: rotate(-1deg)
}
.features-box-content.rot2 {
    transform: rotate(0.5deg)
}
.features-box-content.rot3 {
    transform: rotate(-0.5deg)
}

.features-box-content {
    background-color: #d63909;
    box-shadow: rgba(17, 12, 46, 0.3) 0px 24px 30px 0px;
}

.features-box-content:hover { 
    background-color: #f85523;
    transform: scale(1.05); 
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 60px 0px;
}

a.primary-cta {
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }