/*Iframe with iPhone in it from index.css*/
.appdemo {
display:flex;
justify-content:center;
align-items:center;
height: 600px;
position: relative;
margin-top: 30px;
margin-left: 50px;
}
.appdemo.overlay{
height: 100%;
display:block;
position:absolute;
pointer-events: none;
}
.appdemo.trynow{
height: 60%;
display:block;
position:absolute;
pointer-events: none;
margin-left: -450px
}
.appdemo iframe{
height: 95%;
width: 260px;
display:block;
position:absolute;
border-radius: 25px;
margin-top: 30px;
margin-left: 50px;
}


